<h3>The counts they are a-changin'</h3>

Showing source:
<select data-bind="
    options: sources,
	optionsText: function(item) { return item.source.sourceName },
	optionsValue: function(item) { return item.source.sourceKey },
	value: selectedSourceKey" class="mediumInputField">
</select>

<ul class="nav nav-pills">
    <!-- ko foreach: availableModes -->
    <li data-bind="click: function() {$component.activeMode($data) }, css: {active: $component.activeMode() == $data };">
        <a data-bind="text: $data"></a>
    </li>
    <!-- /ko -->
    <!-- ko ifnot: activeMode() == "Cases" -->
    <li>
        <input type="range" min=1 max=5 data-bind="value: rateSteps, valueUpdate: 'input'" style="margin-top: 10px;">
    </li><li>
        <output data-bind="text: rateCaption"></output>
    </li>
    <!-- /ko -->
</ul>

<!-- ko if: sourcesAvailable -->
<table style="width: 100%" class="sourceTable">
    <thead>
        <tr>
            <th>Target</th>
            <th>Stratify Rule</th>
            <!-- ko foreach: outcomeCohorts -->
            <th data-bind="text: name" colspan="1" style="text-align: left;"></th>
            <!-- /ko -->
        </tr>
    </thead>
    <tbody data-bind="foreach: targets">
        <tr data-bind="click: toggleStrata">
            <td data-bind="html: targetNameHtml"></td>
            <td></td>
            <!-- ko foreach: reports -->
            <td data-bind="text: value"></td>
            <!-- /ko -->
        </tr>
        <!-- ko foreach: strata -->
        <tr data-bind="visible: $parent.doShowStrata">
            <td></td>
            <td data-bind="text: stratumName"></td>
            <!-- ko foreach: reports -->
            <td data-bind="text: value"></td>
            <!-- /ko -->
        </tr>
        <!-- /ko -->
    </tbody>
</table>
<!-- /ko -->