<div class="container page-header">
    <h3>The counts they are a-changin'</h3>
</div>

<table style="width: 100%" class="sourceTable">

    <thead>
    <tr>
    <th style="width: 26px"></th>
        <!-- ko foreach: analysisCohorts().outcomeCohorts -->
        <th data-bind="text: name" colspan="1" style="text-align: left;"></th>
        <!-- /ko -->
    </tr>
    </thead>

    <tbody data-bind="foreach: results">
    <tr>
        <td nowrap data-bind="text: name"></td>
        <!-- ko foreach: data -->
            <td class="dataCol" data-bind="text: column"></td>
        <!-- /ko -->
    </tr>
    </tbody>
</table>